# 依赖目录
node_modules
dist
dist-ssr
*.local

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器目录和文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.*
!.env.example

# Go 二进制文件和缓存
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work 


.cursor/mcp.json
